.ourteam{
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    padding: 25px 0px;
    margin-top: 0;
    background-color: #70b5ea;
    /* background-color: rgb(238, 116, 116); */
    background-image: linear-gradient(160deg, #c1cbd3 0%,#c0e5e0 100% );
}
.ourteam h2{
    color: var(--main-color);
    font-size: 80px;
    margin: 20px 0px;
    font-weight: bold;
    line-height: 12px;

}
.ourteam li{
    background-color:#565acf;
    border: 1px solid #565acf;
    text-align: center;
    color: #fff;
    height: 50px;
    width: 300px;
    line-height: 50px;
    margin: 50px auto;
    border-radius: 8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    font-size: 17px;
    text-transform: uppercase;
}
.ourteam li a{
    color: #fff;
    margin-right: 10px ;
    
}